<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" charset="utf-8"></script>

    <script src="https://kit.fontawesome.com/150475fcb8.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header>
      <div class="logo-container">
        <h2><a href="/chart">Admin_Panel</a></h2>
      </div>
      <nav>
        <ul class="nav-links">
          <li class="nav-links">
          <a href="/chart"><i class="fas fa-chart-line" style="font-size:15px;"></i>Main_Dashboard</a>
          </li>
          <li class="nav-links">
          <a href="/registertype"><i class="fas fa-user" style="font-size:15px;"></i>Reg_Type</a>
          </li>
          <li class="nav-links">
            <a href="/eventtype"><i class="fas fa-calendar-check" style="font-size:15px;"></i>Event_Type</a>
          </li>
          <li class="nav-links">
            <a href="/createevent"><i class="fas fa-calendar-alt" style="font-size:15px;"></i>Create_Event</a>
          </li>
          <li class="nav-links">
            <a href="/settings"><i class="fas fa-cogs" style="font-size:15px;"></i>Settings</a>
          </li>
          <li class="nav-links">
            <a href="/"><i class="fas fa-cogs" style="font-size:15px;"></i>Logout</a>
          </li>
        </ul>
      </nav>

    </header>
    <div class="new">
      <div class="display">
        <div class="register">
          <form action="/updatepassword" method="post">

          <div class="reg">
            <h1>password_Reset_Form</h1>
            <label>Username<br>
          <input type="text" name="username" value="" placeholder="Username"><br>
          <label>New_Password</label><br>
          <input type="password" name="password" value="" placeholder="Password"><br>

          <button type="submit" name="button">Change</button><br>




          </div>


      </form>
        </div>
      </div>

      <div class="side">
        <div class="back">
          <ul>
            <li class="admin-setting"><a href="/createuser">Create_User</a></li>
            <li class="admin-setting"><a href="/manageuser">Manage_User</a></li>
            <li class="admin-setting"><a href="/changepassword">Change_Password</a></li>
            </ul>
        </div>
        <div class="link">
          <a href="#" onclick="window.history.back()"><i class="fas fa-backward" style="font-size:15px;"></i>back</a>
        </div>
      </div>

    </div>
    </body>
    </html>
